/* DEBUG */
.debug [class*="col-"] {
  height: 100%;
}

.debug_lgrey {
  background-color: lightgrey;
}

.debug_h100 {
  height: 100px;
}

.debug_h400 {
  height: 400px;
}

.debug_border {
  border: 2px solid black;
}

.debug_dblue {
  background-color: darkblue;
}

.debug_sgreen {
  background-color: seagreen;
}

.debug_lblue {
  background-color: lightblue;
}

.debug_sal {
  background-color: salmon;
}

.debug_white {
  background-color: white;
}
